.elements {
	margin: 50px 0 0 0;
	max-width: 880px;
	display: grid;
	grid-template-columns: repeat(3, 280px);
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
	column-gap: 17px;
	justify-content: center;
}

@media screen and (min-width: 580px) and (max-width: 880px) {
	.elements {
		grid-template-columns: repeat(2, 280px);
		grid-template-rows: repeat(3, 1fr);
	}
}

@media screen and (max-width: 579px) {
	.elements {
		grid-template-columns: repeat(1, 280px);
		grid-template-rows: repeat(6, 1fr);
	}
}
