@font-face {
	src: url(../assets/fonts/web/Inter-Regular.woff2) format("woff2"),
		url(../assets/fonts/extras/Inter-Regular.ttf) format("truetype");
	font-family: "Inter";
	font-weight: normal;
}
@font-face {
	src: url(../assets/fonts/web/Inter-Black.woff2) format("woff2"),
		url(../assets/fonts/extras/Inter-Black.ttf) format("truetype");
	font-family: "Inter";
	font-weight: bold;
}
