.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__container {
	display: flex;
	max-height: 140px;
	align-items: center;
	width: 95%;
}
.main__profile-photo-container {
	position: relative;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}
.main__profile-photo {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-right: 30px;
	object-fit: cover;
	display: block;
}
.main__profile-photo-edit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* sombra oscura */
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__profile-photo-edit-icon {
	width: 40px;
	height: 40px;
}

.main__profile-photo-container:hover .main__profile-photo-edit {
	opacity: 1;
}

.main__profile-info {
	width: 415px;
	height: 90px;
	margin: 10px 0 10px 10px;
	padding: 0;
}

.main__profile-title {
	display: flex;
}

.main__profile-name {
	max-height: 80px;
	margin: 0;
	font-family: "Roboto Slab";
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.main__profile-edit {
	margin-left: 18px;
	width: 24px;
	height: 24px;
	background-color: #000;
	border: 1px solid #ffffff;
	cursor: pointer;
}
.main__profile-edit:hover {
	opacity: 60%;
}

.main__profile-profesion {
	max-height: 40px;
	font-family: "Roboto Slab";
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2;
	margin: 10px 0 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
}

.main__profile-add-button {
	margin-left: auto;
	width: 150px;
	height: 50px;
	background-color: #000;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.main__profile-add-button:hover {
	opacity: 60%;
}

@media screen and (min-width: 620px) and (max-width: 880px) {
	.main__profile-name {
		min-width: 200px;
		max-height: 84px;
	}
	.main__profile-edit {
		margin-right: 20px;
	}
	.main__profile-add-button {
		min-width: 50px;
	}
}

@media screen and (max-width: 619px) {
	.main {
		display: flex;
		width: 100%;
		min-height: 300px;
		align-items: center;
		flex-direction: column;
	}
	.main__profile-photo {
		margin-right: 0;
	}
	.main__profile-info {
		max-width: 100%;
	}
	.main__profile-title {
		width: 100%;
		display: grid;
		grid-template-columns: 230px 30px;
		justify-content: center;
	}
	.main__profile-edit {
		margin: auto;
	}
	.main__profile-name {
		text-overflow: ellipsis;
		white-space: wrap;
		overflow: hidden;
		text-align: center;
	}
	.main__profile-profesion {
		display: flex;
		width: 90%;
		justify-content: center;
		margin: 15px auto 20px;
		text-overflow: ellipsis;
		white-space: wrap;
		overflow: hidden;
	}
	.main__profile-add-button {
		margin-top: 60px;
		margin-left: none;
		width: 100%;
	}
}
