body {
	background-color: #000;
}

#root {
	margin: 0;
	padding: 0;
}

.page__content {
	background-color: #000;
	display: block;
	max-width: 880px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 880px) {
	.page__content {
		margin: 30px 20px;
	}
}
