@import url("./assets/vendor/normalize.css");
@import url("./assets/vendor/fonts.css");
@import url("./Styles/Page.css");
@import url("./Styles/Header.css");
@import url("./Styles/Main.css");
@import url("./Styles/Elements.css");
@import url("./Styles/Popup.css");
@import url("./Styles/card.css");
@import url("./Styles/Footer.css");
