@import url("./assets/vendor/normalize.css");
@import url("./assets/vendor/fonts.css");
@import url("./blocks/Page.css");
@import url("./blocks/Header.css");
@import url("./blocks/Main.css");
@import url("./blocks/Elements.css");
@import url("./blocks/Popup.css");
@import url("./blocks/card.css");
@import url("./blocks/Footer.css");
